<div class="media" style=" padding:5px">
  <a href="{{ url_for('main.user', username=post.author.username) }}">
    <img src="{{ post.author.avatar(32) }}" class="mr-3" >
    </a>
   {% set user_link %}
            <a href="{{ url_for('main.user', username=post.author.username) }}">
                {{ post.author.username }}
            </a>
        {% endset %}
  <div class="media-body">
    <h5 class="mt-0">{{ _('%(username)s said %(when)s',
            username=user_link, when=moment(post.timestamp).fromNow()) }}
      </h5>
      <span id="post{{post.id}}">
            {{ post.body }}
      </span>
       {% if post.language and post.language != g.locale %}
      <br><br>
      <span id="translation{{ post.id }}">
        <a href="javascript:translate(
                        '#post{{ post.id }}',
                        '#translation{{post.id}}',
                        '{{ post.language }}',
                        '{{ g.locale }}');">{{ _('Translate') }}</a>
      </span>
      {% endif %}
  </div>
</div>
