{% extends "base.html" %}
{% block content %}
<h1>Hi, {{ current_user.username }}</h1>
{% if form %}
<form action="" method="POST" style="margin:30px">
    {{ form.hidden_tag() }}

    <div class="form-group">
        <label for="post">{{ form.post.label }}</label>
        <p>{{ form.post(cols=32, rows=4, class_='form-corntrol') }}</p>
        {% for error in form.post.errors %}
        <span style="color:red;">[{{ error }}]</span>
        {% endfor %}
    </div>
    <p> {{ form.submit(class_='btn btn-primary') }} </p>
</form>
{% endif %}
<div class="container" style="margin-left:30px;">
    {% for post in posts %}
        {% include '_post.html' %}
    {% endfor %}
</div>
{% endblock %}